/*
*
*  design lines
* 
*/

#header {

	height: 120px;
	position: relative;
	padding: 0;
	/*background-image: url(../img/headerBG.jpg);
	background-repeat: repeat-x;*/
}

#footer {

	position: relative;
	bottom: 0;
	height: 100px;
	padding: 0;

	background-image: url(../img/BG.jpg);
	background-repeat: repeat-x;
}

#footer ul {

	width: 500px;
	margin: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	/*border: 1px solid blue;*/
}

#footer li {

	list-style: none;
}

/*
*
* 去掉列表前面的点
*
*/

#header li {

	list-style: none;
	display: inline;
}

#logo {

	width: 120px;
	height: 120px;
	display: inline;
}

#forumTitle {

	font-size: 3em;
	position: absolute;
	top: 10px;
	left: 180px;
}


#loginBar { 

	display: inline;
	position: absolute;
	top: 0;
	right: 20px;
	margin: 0;
}

#loginBar div {

	width: 60px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	background-color: #E0E0E0;
	margin: 0;

	border-style: solid;
	border-radius: 15px;
	border-color: #808080;
}


#tabBar {

	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	left: 200px;
}

#tabBar li {

	width: 100px;
	height: 25px;
	color: #ffffff;
	line-height: 25px;
	display: inline-block;

	background-color: #CC9933;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#loginBar div:hover,#tabBar li:hover {

	cursor: pointer;
}

#loginBar div:hover {

	background-color: #606060;
	color: #ffffff;
}

#tabBar li:hover {

	background-color: #FF9900;
	color: #ffffff;
}

