body {

	width: 1024px;
	min-height: 0px;
	/*position: relative;*/
	margin: auto;
	left: 0; right: 0;
	position: relative;
}

/*
*
*  @mainbody
*  design lines
* 
*/

.designLine {

	border-style: solid;
	border-color: blue;
	border-width: 0.5px;
}

/*
*
* 通用样式
*
*/
.common {

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}


#mainbody {

	/*width: 100%;*/
	min-height: 600px;
	margin-top: 0;
	position: relative;
}

/*
*
* 主内容样式
*
*/

#content {
	
	float: left;
	width: 720px;
	min-height: 600px;
	position: relative;
}

/*
*
* 搜索栏/填写栏的默认灰色字体
*
*/
.defaultColor {

	color: #c0c0c0;
}

